:root
{
    --main-color: linear-gradient(-45deg, #13B2FA, #00080f, #00080f);
    --secondary-color: linear-gradient(-45deg, #00080f, #13B2FA, #00080f);
    --third-color: #13B2FA;
    --fourth-color: #fff;
    --contrast-color: #00080f;
    --hidden-color: rgba(0, 0, 0, 0.8);
    --animate-speed: 3s;
}

*
{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body
{
    color: var(--fourth-color);
    font-family: 'Comfortaa';
    line-height: 1.4;
    background-color: #00080f;
}

a
{
    text-decoration: none;
}

p
{
    margin: 0.75rem 0;
}

pre
{
    font-size: 1.5rem;
    margin-left: 2rem;
}

.container
{
    max-width: 100%;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.flex
{
    display: flex;
}

.flex-basis-40
{
    flex-basis: 40%;
}

.text-center
{
    text-align: center;
}

.text-left
{
    margin-left: 32px;
}

.text-primary
{
    color: var(--third-color);
}

.text-light
{
    color: var(--fourth-color);
}

.text-contrast
{
    color: var(--fourth-color);
}

.text-center
{
    text-align: center;
}

.bg-gradient-1
{
    background: var(--main-color);
    color: var(--main-color);
}

.bg-gradient-2
{
    background: var(--secondary-color);
    color: var(--fourth-color);
}

.bg-primary
{
    background: var(--third-color);
    color: var(--fourth-color);
}

.bg-contrast
{
    background: #00080f;
    padding: 10px;
    line-height: 1.5;
}

.l-heading
{
    font-size: 1.7rem;
    line-height: 1.1;
}

.py-1 {padding: 1.5rem 0;}
.py-2 {padding: 2rem 0;}
.py-3 {padding: 3rem 0;}
.py-4 {padding: 4rem 0;}
.py-5 {padding: 5rem 0;}
.p-1 {padding: 1.5rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}


.font-small
{
    font-size: 1.5rem;
    padding-left: 0.8rem;
    line-height: 1.7;
}

.lead
{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.btn
{
    display: inline-block;
    color: var(--fourth-color);
    background: var(--third-color);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 20px;
    width: 200px;
}

.btn:hover
{
    background: linear-gradient(-45deg, #13B2FA, #fff, #13B2FA);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    color: var(--fourth-color);
}

.btn-dark
{
    background: var(--main-color);
    color: var(--third-color);
}

.list
{
    margin: 0.5rem 0;
    list-style: none;
}

.list li
{
    padding: 0.5rem 0;
    border-bottom: var(--main-color) dotted 1px;
}

#navbar
{
    justify-content: space-between;
    display: flex;
    background: var(--contrast-color);
    color: var(--third-color);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1rem 1rem 1rem 0;
}

#navbar ul
{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a
{
    color: var(--fourth-color);
    padding: 0.75rem;
    margin: 0 0.25rem;
    border-bottom: var(--fourth-color) solid 2px;
}

#navbar ul li a:hover
{
    /* background: var(--third-color);
    color: var(--fourth-color);
    border-radius: 20px; */

    transition: border-color: 3s;
    border-color: var(--third-color);
}

/* Showcase */

#showcase {
    background: var(--main-color);
    height: 100vh;
    color: var(--fourth-color);
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: left;
    height: 100%;
    padding: 0 2rem;
    position: absolute;
    top: 33px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
}

/* Animation */

/* Gradient */
@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/* Header animation */
#showcase h2,
#showcase p
{
    transform: translateX(-2400px);
    animation: text var(--animate-speed) forwards ease-in 1s;
}


@keyframes text
{
    to
    {
    transform: translateX(0)
    }
}

/* Show Boxes */

.js-hidden
{
   transition: all 0.5s ease-in-out;
   visibility: hidden;
   opacity: 0;
}

.show
{
    transform: none;
    visibility: visible;
    opacity: 1;
}

.show:after
{
    background: var(--secondary-color);
}


/* FOOTER STYLE */

.footer {
  font-size: 1rem;
  color: black;
  background-color: var(--hidden-color);
  width: 100%;
  height: 7vh;
  position: fixed;
  left: 0; bottom: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1%;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.index-item
{
  font-size: 2rem;
}

.index-item .link
{
  text-decoration: none;
  color: white;
  cursor: crosshair;
}

.index-item .link:hover
{
  background-color: white;
  color: black;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
